
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería Rumps</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">


</head>

<body>
    
    <main class="espacio">


        <section class="Barra_contenedor seccion">

            <h2 class="encabezado-servicios"></h2>
                <div class="catalogo">
                    <div class="catalogo_superior">
                        <div class="diseño_login">
                            <div class="centrado"> 
                                
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Borrar cuenta</legend>
                                            <p>La cuenta se eliminará permanentemente. </p>
                                            <p>¿Seguro que desea proceder?</p>
                                            {{ form }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button type="submit">Eliminar Cuenta</button>
                                        <a href="/prueba"><input type="button" value="volver" ></a>
                                    </div>
                                </form>
                            
                            </div>            
                        </div>
                        
                     </div>
            </div>
        </section>

    
    </main>

</body>
</html>



    




