{% extends 'layout.html' %}

{% load static %}


            {% block content %}

           

            <main class="espacio">

                


                <section class="Barra_contenedor seccion">

                    <h2 class="encabezado-servicios"></h2>
                        <div class="catalogo">
                            <div class="catalogo_superior">
                                <div class="diseño_login">
                                    <div class="centrado links_perfil" > 
                                        

                                        <h2>Configuración de cuenta</h2>

                                        <hr />
                                        
                                        <a href="/modif">Editar perfil</a>
                                        
                                        <hr />
                                        
                                        <a href="/password">Cambiar contraseña</a>
                                        
                                        <hr />
                                        
                                        <a href="/delete">Eliminar cuenta</a>
                                        
                                        <hr />
                                        
                                        <a href="/"><input type="button" value="volver" ></a>
                                        
                                        <hr />
                                
                                                    
                                    </div>            
                                </div>
                                
                            </div>
                    </div>
                </section>

                

            </main>


            {% endblock %}

    



