{% load crispy_forms_tags  %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería Rumps</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">


</head>
<body>
    <header class="titulo">
        <div class="Barra_contenedor">
            <div class="barra_superior">
                <nav class="navegador_superior">
                    <a href="">Iniciar sesión</a>
                    <a href="">Registro</a>
                </nav>
            </div>

            <section class="barra_inferior">
                <div class="peluqueria">
                    <a href="/prueba">
                     <h1>Bienvenido a la Peluquería</h1>
                    </a>
                 </div>
                    <nav class="navegador_informacion">
                        <a href="">Quiénes somos</a>
                        <a href="/Contacto">Contacto</a>
                        <a href="">Dirección</a>
                        <a href="">Profesionales</a>
                        <a href="">Todos los servicios</a>
                    </nav>
            </section>    
                    

        </div>     
       
    </header>


    <main>


        <div class="container">

                <h2>Iniciar sesión Cliente</h2>
    
                <form method="POST">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <input type="submit" value="login" class="btn btn-success">
                    <a href="/prueba"> <input type="button" value="volver" class="btn btn-info"> </a>
    
                    
                    </form>

       </div>       
        
        

    </main>




    <footer class = "pie_pagina ">
       
        <div class= "contenedor_inferior Barra_contenedor">

            <h2 class="encabezado-footer">Visita nuestras redes sociales</h2>

            <div>
                <a target="_blank" href="">Instagram</a>    
            </div>

            <div>

                <a target="_blank" href="">Facebook</a>
            </div>
            <div>

                <a target="_blank" href="">Whatsapp</a>
            </div>
        </div>        
        
    </footer>

</body>
</html>