{% extends 'layout.html' %}
{% load static %}


{% block content %}

    <main class="espacio">


        <section class="Barra_contenedor seccion">

            <h2 class="encabezado-servicios"></h2>
                <div class="catalogo">
                    <div class="catalogo_superior">
                        <div class="diseño_login">
                            <div class="centrado"> 
                                <h2>Login Usuario</h2>
                                <form method="POST">
                                    {{ form.as_p}}
                                    {% csrf_token %}
                                     <div class="botones">                   
                                        <input type="submit" value="login" class="btn btn-success">
                                        <a href="/"> <input type="button" value="volver"> </a>
                                    </div>
                                </form>
                            </div>            
                        </div>
                        
                     </div>
            </div>
        </section>

        

    </main>


{% endblock %}