{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería Rumps</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">


</head>
<body>
    <main>
        <form class="Formulario">
            <div class="contenedor">
                <div class="input-conteneder">
                    {% block contenido %}
    
                    <h2>Registrar usuario</h2>
        
                    <form method="POST">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="registrar" class="button" >
                        <a href="/index"> <input type="button" value="volver" class="button"> </a>
        
                    </form>
        
                    {% endblock %}
                    

                </div>

            </div>
            
    
        </form>
    </main>
    

</body>




    

    



       



    
    
   




