{% extends 'layout.html' %}

{% load static %}


            {% block content %}


    
            <main class="espacio">


                <h2 class="encabezado-servicios">Registrar usuario</h2>
                <div class="catalogo">
                    <div class="catalogo_superior">
                        <div class="servicios">
                            <form class="box" method="POST">
                                
                                {{ form.as_p }}
                                {% csrf_token %}
                                <button type="submit">Registrar</button>
                                
                            </form>
                                
                        </div>   
                                
                    </div>               
                            
                </div>

            </main>

{% endblock %}





















    
    
   




