

/* GLOBALES */

img{
    max-width: 100%;
}

/* Fuente de la pagina */

html{
    font-size: 62.5%;
    background-color: rgb(131, 131, 131);
    background-position: center center;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    
    

}

*{
    box-sizing: border-box;
}



/*********************** Dimensiones y estructura de la pagina ***************************/

.titulo{
    background-color: black;
    background-position: center center;
}

.Barra_contenedor{
    max-width: 170rem;
    margin-left: auto;
    margin-right: auto;
}

.barra_superior{
    padding-top: 0.8rem;
}

/*********************** AJUSTES DE LAS BARRAS DE NAVEGACION ****************************/

/*---------Ajustes DE REGISTRO/LOGIN -------*/

.navegador_superior a{
    color: white;
    margin-right: 2rem;
}

/* Color de cursor al pasar por encima */

.navegador_superior a:hover{
    color: wheat;
}

/* Margenes de Registro/login*/

.navegador_superior a:last-of-type{
    margin:0;
}

/* Ajuste de barra de navegacion inferior */

.barra_inferior{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;

}

.barra_inferior h1{
    color: white;
}

.navegador_informacion a{
    color: white;
    margin-right: 2rem;
    
    
}

.navegador_informacion a:last-of-type{
    margin:0;
}

.navegador_informacion a:hover {
    color: wheat;
}

/*
main{
    
    background: url(../imagenes/Fondo.jpg);
    margin-top: -1rem;
    margin-bottom: 5rem;
    background-position: center center;
}

*/

/* ------------------------------------------*/

/* ESTRUCTURA DE LOS SERVICIOS */


.encabezado-servicios{
    font-weight: 300;
    text-align: center;
}

.seccion {
    margin-top: 1rem;
    margin-bottom: 5rem;
    background-position: center center;
}

.catalogo{
    display: flex;
    justify-content: space-between;
}

.servicios h3 {
    text-transform: uppercase;

}

.servicios{
    flex-basis: calc(25% - 12rem);
    text-align: center;
    border-style: solid;
    border-color: blanchedalmond;
    background-color: rgb(192, 158, 96);
    border-width: 3px;
    
}

/* ------------------------------------------*/

/* ESTRUCTURA Del Footer */

.pie_pagina {
    background-color: blanchedalmond;
    
}

/* ESTRUCTURA REGISTRO DE USUARIO */

.Formulario{

    box-sizing: border-box;
    text-align: center;
    background-color: white;
    margin-top: 150px;
    padding: 3px;


    
    

}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;

}

.Contenedor{
    width: 100%;
    padding: 15px;
}

.button{
    border: none;
    color: white;
    width: 10%;
    font-size: 25px;
    background: black;
}

@media(min-width:800){
    .Formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }

}