{% extends 'layout.html' %}

{% load static %}


            {% block content %}

            <main class="espacio">

                <section class="Barra_contenedor seccion">
        
                        <h2 class="encabezado-servicios"></h2>
                        <div class="catalogo">
                            <div class="catalogo_superior">
                                <div class="diseño_login">
                                    <div class="centrado"> 
        
        
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form.as_p}}
                                            <a href="/configuracion"> <input type="button" value="volver" ></a>
                                            <input type="submit" value="Confirmar cambios" >
                                            
                                            
                                        </form> 
                        
                                    </div>            
                                </div>
                                
                             </div>
                        </div>
                </section>
        
            
            </main>
        
                
            {% endblock %}
        








