{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería Rumps</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">


</head>
<body>
    <header class="titulo">
        <div class="Barra_contenedor">
            <div class="barra_superior">
                <nav class="navegador_superior">
                    {% if request.user.is_authenticated %}
                    <a href="/logout">Cerrar sesión</a>
                    <a href="/perfil">Perfil de Usuario</a>
                    {% else %}   
                    <a href="/Login">Iniciar sesión</a>
                    <a href="registro">Registro</a> 
                    {% endif %}

                </nav>
            </div>

            <section class="barra_inferior">
                <div class="peluqueria">
                    <a href="/prueba">
                        {% if request.user.is_authenticated %}
                        <h1>Bienvenido a la Peluquería <b>{{request.user.username}}</b></h1>
                        {% else %}
                        <h1>Bienvenido a la Peluquería <b>{{request.user.username}}</b></h1>
                        {% endif %}

                    </a>
                    
                 </div>
                    <nav class="navegador_informacion">
                        <a href="/prueba">Quiénes somos</a>
                        <a href="/Contacto">Contacto</a>
                        <a href="/prueba">Dirección</a>
                        <a href="/Profesionales">Profesionales</a>
                        <a href="">Todos los servicios</a>
                    </nav>
            </section>    
                    
        </div>     
       
    </header>

    <div id = "content">

        {% block content%}

        {% endblock %}

    </div>


</body>

</html>
