{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería Rumps</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">


</head>
<body>
    <header class="titulo">
        <div class="Barra_contenedor">
            <div class="barra_superior">
                <nav class="navegador_superior">
                    {% if request.user.is_authenticated %}
                    <a href="/logout">Cerrar sesión</a>
                    <a href="/perfil">Perfil de Usuario</a>
                    {% else %}   
                    <a href="/Login">Iniciar sesión</a>
                    <a href="registro">Registro</a> 
                    {% endif %}

                </nav>
            </div>

            <section class="barra_inferior">
                <div class="peluqueria">
                    <a href="/prueba">
                     <h1>Bienvenido a la Peluquería</h1>
                    </a>
                 </div>
                    <nav class="navegador_informacion">
                        <a href="/prueba">Quiénes somos</a>
                        <a href="/Contacto">Contacto</a>
                        <a href="/prueba">Dirección</a>
                        <a href="/Profesionales">Profesionales</a>
                        <a href="">Todos los servicios</a>
                    </nav>
            </section>    
                    

        </div>     
       
    </header>


    <main>
        <section class="Barra_contenedor seccion">

            <h2 class="encabezado-servicios">Información peluquería</h2>
                <div class="catalogo">
                    <div class="catalogo_superior">
                        <div class="informacion_contacto">
                            
                            <table class="table">
                                <tr>
                                    <th>    Nombre  </th>
                                    <th>Apellido</th>
                                    <th>Rubro</th>
                                    <th>Teléfono</th>
                                    <th>Correo electronico</th>
                                    <th>Horario</th>       
                                </tr>
                            
                                {% for p in peluquero %}
                            
                                <tr>
                                    <td class="fila_profesionales">{{ p.nombre }}</td>
                                    <td class="fila_profesionales">{{ p.apellido }}</td>
                                    <td class="fila_profesionales">{{ p.rubro }}</td>
                                    <td class="fila_profesionales">{{ p.telefono }}</td>
                                    <td class="fila_profesionales">{{ p.email }}</td>
                                    <td class="fila_profesionales">{{ p.horario }}</td>
                                    
                                </tr>
                                
                            
                            
                                {% endfor %}
                            
                            
                            </table>
                            
                            <hr/>
                            
                            <a href="/prueba"><input type="button" value="volver" class="btn btn-info"></a>


                            </div>
                        </div>
                </div>
        </section>
        
        

    </main>




    <footer class = "pie_pagina ">
       
        <div class= "contenedor_inferior Barra_contenedor">

            <h2 class="encabezado-footer">Visita nuestras redes sociales</h2>

            <div>
                <a target="_blank" href="">Instagram</a>    
            </div>

            <div>

                <a target="_blank" href="">Facebook</a>
            </div>
            <div>

                <a target="_blank" href="">Whatsapp</a>
            </div>
        </div>        
        
    </footer>

</body>
</html>