{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <main>
        <section class="Barra_contenedor seccion">

            <h2 class="encabezado-servicios">Cortes de cabello</h2>
                <div class="catalogo">
                    <div class="catalogo_superior">
                        <div class="servicios">
                            <h3>Cortes de cabello niño</h3>
                            <img src="{% static 'imagenes/corte_niño.jpg' %}"  alt="My image">
                                <div class="infor_servicio">
                                    <li>Duración: 30 Minutos</li>
                                    <li>Precio: $7.000</li>
                                </div>
                                <div class="contenido-servicio">
                                    <a href="/selectPeluquero/1" class="boton boton-gris">Realizar reserva</a>
                                </div>
                        </div>
                        <div class="servicios">
                            <h3>Cortes de cabello niña</h3>
                            <img src="{% static 'imagenes/corte_niña.jpg' %}" alt="My image">
                            <div class="infor_servicio">
                                <li>Duración: 30 Minutos</li>
                                <li>Precio: $7.000</li>
                            </div>
                            <div class="contenido-servicio">
                                <a href="/selectPeluquero/2" class="boton boton-gris">Realizar reserva</a>
                            </div>
                        </div>
                        <div class="servicios">
                            <h3>Cortes de cabello Varon</h3>
                            <img src="{% static 'imagenes/corte_hombre.jpg' %}"  alt="My image">
                            <div class="infor_servicio">
                                <li>Duración: 30 Minutos</li>
                                <li>Precio: $9.000</li>
                            </div>
                            <div class="contenido-servicio">
                                <a href="/selectPeluquero/3" class="boton boton-gris">Realizar reserva</a>
                            </div>
                        </div>
                     </div>
                     <div class="catalogo_inferior">
                        <div class="servicios">
                            <h3>Cortes de cabello Dama</h3> 
                            <img src="{% static 'imagenes/corte_mujer.jpg' %}"  alt="My image"> 
                            <div class="infor_servicio">
                                <li>Duración: 30 Minutos</li>
                                <li>Precio: $9.000</li>
                            </div>
                            <div class="contenido-servicio">
                                <a href="/selectPeluquero/4" class="boton boton-gris">Realizar reserva</a>   
                            </div>         
                        </div>

                     </div>
            </div>
        </section>

    </main>

{% endblock %}