{% extends 'layout.html' %}
{% load static %}


    {% block content %}

    <main>
        <section class="Barra_contenedor seccion">

            <h2 class="encabezado-servicios">TINTES DE CABELLO</h2>
                <div class="catalogo">
                    <div class="catalogo_superior">
                        <div class="servicios">
                            <h3>TINTURADO NORMAL</h3>
                            <img src="{% static 'imagenes/imagen_prueba.jpg' %}"  alt="My image">
                                <div class="infor_servicio">
                                    <li>Duración: 60 Minutos</li>
                                    <li>Precio: $20.000</li>
                                </div>
                                <div class="contenido-servicio">
                                    <a href="/selectPeluquero/1" class="boton boton-gris">Realizar reserva</a>
                                </div>
                        </div>
                        <div class="servicios">
                            <h3>TINTURADO CON DECOLORACIÓN</h3>
                            <img src="{% static 'imagenes/imagen_prueba.jpg' %}" alt="My image">
                            <div class="infor_servicio">
                                <li>Duración: 180 Minutos </li>
                                <li>Precio: $45.000 </li>
                            </div>
                            <div class="contenido-servicio">
                                <a href="/selectPeluquero/2" class="boton boton-gris">Realizar reserva</a>
                            </div>
                        </div>


                    </div>
                </div>
        </section>

    </main>

    {% endblock %}

