{% extends 'layout.html' %}
{% load static %}


    {% block content %}

    <main>
        <section class="Barra_contenedor seccion">
            <h2 class="encabezado-servicios">Selecciona un peluquero</h2>
                <div class="catalogo_superior">

                    {% for peluquero in peluqueros %}
                            {% if cod == peluquero.id_servicios_p_id %}
                                <div class="servicios">
                                    <img src="{% static 'imagenes/peluquero.jpg' %}" alt="My image">
                                    <div class="contenido-servicio">
                                        <a href="/seleccionar_fecha/{{peluquero.rut_usuario_p_id}}" class="boton">Seleccionar</a>   
                                    </div>
                                </div>
                            {% endif %}
                    {% endfor %}
 
                </div>
        </section>
    </main>

    {% endblock %}



