{% extends 'layout.html' %}
{% load static %}

    
    

    {% block content %}

    <main>

            <div id="calendar">

            </div>
 
    <script src="{% static 'Calendario/lib/main.js' %}"></script>
    <script>

            
            document.addEventListener('DOMContentLoaded', function(){
                var calendarUI = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarUI,{
                });
                calendar.render();
            });
        </script>
    </main>

    {% endblock %}
